.flex-centred {
    display: flex;
    align-items:center;
    margin: 2rem 0;
    gap: 1rem;
}

.centred-icon {
    display: flex;
    align-items: center;
}

.mat-mdc-icon-button {
    color: red;
}